*{
      font-family: "Plus Jakarta Sans", sans-serif;
      margin: 0px;
      padding: 0px;
}
body {
  background-image: linear-gradient(#ffffff, #ebdcff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn{
    background-color: rgba(135, 43, 255, 1);
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}
.btn-white{
     border-radius: 30px;
    padding: 16px 32px;
    border: 1px solid rgba(135, 43, 255, 1);
    cursor: pointer;
}
/* banner */

.banner{
     margin: 100px auto 120px auto; /* auto=90 */
     padding: 20px 30px;
     width: 87.5%;
     border:2px solid rgba(135, 43, 255, 0.1);
     border-radius: 40px;
     background-image: url("../images/hero-bg.png");
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-content *{
    margin-top: 20px;
}
.banner-content h1{
   font-size: 70px;
   font-weight: bold;
}
.banner-content h1 span{
    color: rgba(244, 17, 207, 1);
}
.banner-content p{
    font-size: 18px;
    color: rgba(168, 168, 168, 1);
}
.banner-photo img{
    /* width: 600px; */
}



