*{
      font-family: "Plus Jakarta Sans", sans-serif;
      margin: 0px;
      padding: 0px;
}
body {
  background-image: linear-gradient(#ffffff, #ebdcff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn{
    background-color: rgba(135, 43, 255, 1);
    border-radius: 30px;
    padding: 16px 32px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}
.btn-white{
     border-radius: 30px;
    padding: 16px 32px;
    border: 1px solid rgba(135, 43, 255, 1);
    cursor: pointer;
}

.service-text{
    text-align: center;
     margin-bottom: 60px;

}
.service-text h4{
color: rgba(244, 17, 207, 1);
font-size: 24px;
font-weight: bold;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 14px;
}
.service-text h2{
font-weight:bold ;
font-size: 44px;
}

/* banner */

.banner{
     margin: 100px auto 120px auto; /* auto=90 */
     padding: 20px 30px;
     width: 87.5%;
     border:2px solid rgba(135, 43, 255, 0.1);
     border-radius: 40px;
     background-image: url("../images/hero-bg.png");
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-content *{
    margin-top: 20px;
}
.banner-content h1{
   font-size: 70px;
   font-weight: bold;
}
.banner-content h1 span{
    color: rgba(244, 17, 207, 1);
}
.banner-content p{
    font-size: 18px;
    color: rgba(168, 168, 168, 1);
}
.banner-photo img{
    /* width: 600px; */
}


/* service */
.service{
    width: 87.5%;
    margin:0px auto 120px auto;
}
.service-card{
    display: flex;
   justify-content: space-between;
   gap: 30px;
}
.card{
    background-color: rgba(253, 255, 255, 1);
    border:none;
    border-radius:30px ;
    /* padding: 20px 60px; */
    padding: 60px;
    text-align: center;
    /* height:450px ; */
    width:300px ;
}
.card img{
    margin-bottom:40px ;
}
.card h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card p{
    color: rgba(168, 168, 168, 1);
    font-size: 18px;
    font-weight: medium;
}
/* story-container */
#story-container,.country,#checkout-container{
    width: 87.5%;
    margin:0px auto 120px auto;
}
.story-card{
display: flex;
padding: 40px;
border-radius: 24px;
background-color: white;
gap: 20px;
}
.story-content h2,.story-content img,.story-content p{
    margin-bottom: 30px;
}
.story-content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
/* country card */
#country-card{
display: flex;
 gap: 30px; /*24 */
 flex-wrap: wrap;
 justify-content: center;
 text-transform: uppercase;
}
#country-card h2{
    background-color: white;
 border-radius: 16px;
    padding: 40px;

}

/* checkout-container */
.Checkout-card{
 background-color: white;
 border-radius: 10px;
 text-align:left;
 text-align-last:center ;
  padding: 24px;
  margin-bottom: 40px;
}
.review-card p{
 margin-bottom: 40px;
 font-size: 16px;

}
.review h4{
    font-size: 20px;
    font-weight:bold ;
}
.review{
    display: flex;
    justify-content:space-between;
     align-items: center;
    margin-bottom:10px;
}
#textt{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
#text h4{
    margin: 0px;
}
#photo{
   height: 35px;
   width: 270px;
   opacity: 70%;
}

/* footer
 */
 .footer-content{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
   padding: 20px 90px;
 }
 .footer-photo{
    display: flex;
    gap: 20px;
 }

